.cls-1{opacity:0.4;}
.cls-2,.cls-4{fill:#fff92c;}
.cls-2,
.cls-3{opacity:0.45;}
.cls-3,
.cls-5{fill:#ff0;}
.cls-4{opacity:0.3;}
.cls-5{opacity:0.5;}

p{
  font-size:1.3rem;
}

.bg-secondary-nav {
    background-color: hsla(0,0%, 50%, .1);
}

.audit-logo-bg{
  width: 110%;
  position: relative;
  z-index: -1;
}
.audit-logo {
    position: absolute;
    z-index: 1;
    width: 46%;
    right: 26%;
    top: 15%
}

.arjan-btn {
  border: hsla(60, 100%, 50%, 1)1px solid;
  color: hsla(0, 0%,  100%, .8);
  padding: 2% 5%;
  font-size: 1.4rem;
}

.banner-container{
  padding: 5% 20%;
}

.bg-sepia{
  padding: 8% 10%;
  background-color: hsla(60, 100%, 50%, .6);
  line-height:1.8;
}

.text-box-audit{
line-height:1.4;
}

.lighthouse{
  width: 60%;
    margin: 0% 34%;
    z-index: -1;
}

.lighthouse-text{
  width: 43%;
  margin-top: -15%;
}
.get-started {
  padding: 1% 0%;
  margin: 4% 31% 8% 31%;
  background-color: hsla(60, 100%, 50%, .1);
  line-height: 1;
}



/* The animation code */
@keyframes squaretop {
  0% {transform: translateY(-8%); opacity: 0;}
  25% {transform: translateY(8%); opacity: .1;}
  50% {transform: translateY(-2%); opacity: .2;}
  100% {transform: translateY(5%); opacity: .3;}
}

@keyframes squareright {
  0% {transform: translateX(-8%); opacity: 0;}
  25% {transform: translateX(8%); opacity: .1;}
  50% {transform: translateX(-2%); opacity: .2;}
  100% {transform: translateX(5%); opacity: .3;}
}

/* The element to apply the animation to */
.square-top {
  top: -8%;
  opacity: 0%;
  animation-name: squaretop;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

.square-right {
  top: -8%;
  opacity: 0%;
  animation-name: squareright;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}
