.cls-1{opacity:0.4;}
.cls-2,.cls-4{fill:#fff92c;}
.cls-2,
.cls-3{opacity:0.25;}
.cls-3,
.cls-5{fill:#ff0;}
.cls-4{opacity:0.1;}
.cls-5{opacity:0.17;}


.audit-logo-bg{
  width: 110%;
  position: relative;
  z-index: -1;
}
.audit-logo{
  position: absolute;
  z-index: 1;
  width: 50%;
  right: 20%;
  top: 10%;
}

.arjan-btn {
  border: #ff0 2px solid;
  color: #ff0;
  padding: 2% 3%
}

.banner-container{
  padding: 5% 20%;
}

.bg-sepia{
  padding: 5%;
  background-color: hsla(60, 100%, 50%, .6);
}

.lighthouse{
  width: 110%;
  position: relative;
  z-index: -1;
}
.lighthouse-text{
  width: 43%;
  margin-top: -15%;
}


/* The animation code */
@keyframes squaretop {
  0% {transform: translateY(-8%); opacity: 0;}
  25% {transform: translateY(8%); opacity: .1;}
  75% {transform: translateY(-2%); opacity: .2;}
  100% {transform: translateY(5%); opacity: .3;}
}

@keyframes squareright {
  0% {transform: translateX(-8%); opacity: 0;}
  25% {transform: translateX(8%); opacity: .1;}
  75% {transform: translateX(-2%); opacity: .2;}
  100% {transform: translateX(5%); opacity: .3;}
}

/* The element to apply the animation to */
.square-top {
  top: -8%;
  opacity: 0%;
  animation-name: squaretop;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

.square-right {
  top: -8%;
  opacity: 0%;
  animation-name: squareright;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}
