
.bg-dark-purple{
  background-color: hsla(288, 100%, 6%, .9);
}
.header-bg-size{
  padding: 5% 3%;
  margin: 7% 2%;
}

.arjan-localize-card{
  background-color: hsla(120, 100%, 50%, .2);
}
.arjan-optimize-card{
  background-color:  hsla(180, 100%, 50%, .2);
}
.arjan-audit-card{
  background-color:  hsla(60, 100%, 50%, .2);
}
.arjan-deploy-card{
  background-color:  hsla(300, 100%, 50%, .2);
}

.arjan-card-logo{
  width: 70%;
  padding: 3% 0%;
}
.card{
    border-radius: 0 !important;
    padding: 2% 2%;
    height: 100%;
    width: auto;
}
.card-p{
  font-size: 110%;
  line-height: 1.5;
}
.card-icons {
  margin: 0% 2%;
}
.card-col{
  padding: 2%;
}
.card-padding{
  width: 100%;

}

.load{
    padding: 1% 0%;
    margin: 3% 1% 10% 1%;
}

.index-text{
  color: #7300ff;
}

.nodArjan{
  animation-name: nodarjan;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
}
@keyframes nodarjan {
  25% {transform: rotate(10deg);}
  75% {transform: rotate(-10deg);}
  100% {transform: rotate(0deg);}
}

.arjan-localize-card:hover {
  border: hsla(120, 100%, 50%, 0) 2px solid;
  animation-name: fadelocborder;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}
@keyframes fadelocborder {
  0% {border: hsla(120, 100%, 50%, 0) 1.5px solid;}
  50% {border: hsla(120, 100%, 50%, .5) 1.5px solid;}
  100% {border: hsla(120, 100%, 50%, .4) 1.5px solid;}
}

.arjan-optimize-card:hover {
  border: hsla(180, 100%, 50%, 0) 2px solid;
  animation-name: fadeoptborder;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}
@keyframes fadeoptborder {
  0% {border: hsla(180, 100%, 50%, 0) 1.5px solid;}
  50% {border: hsla(180, 100%, 50%, .5) 1.5px solid;}
  100% {border: hsla(180, 100%, 50%, .4) 1.5px solid;}
}

.arjan-audit-card:hover {
  border: hsla(60, 100%, 50%, 0) 2px solid;
  animation-name: fadeaudborder;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}
@keyframes fadeaudborder {
  0% {border: hsla(60, 100%, 50%, 0) 1.5px solid;}
  50% {border: hsla(60, 100%, 50%, .5) 1.5px solid;}
  100% {border: hsla(60, 100%, 50%, .4) 1.5px solid;}
}

.arjan-deploy-card:hover {
  border: hsla(300, 100%, 50%, 0) 2px solid;
  animation-name: fadedepborder;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}
@keyframes fadedepborder {
  0% {border: hsla(300, 100%, 50%, 0) 1.5px solid;}
  50% {border: hsla(300, 100%, 50%, .5) 1.5px solid;}
  100% {border: hsla(300, 100%, 50%, .4) 1.5px solid;}
}

.codebox{
  padding: 1% 0%;
  background-color: black;
  color: white;
  border: hsla(120, 100%, 50%, 0) 1.5px solid;
  white-space: nowrap;
  min-width: max-content;
}

.codebox:hover {
  border: hsla(120, 100%, 50%, 0) 2px solid;
  animation-name: fadeborder;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}


.img-arrow{
  width: 40px;
  padding: 0 0%;
  opacity: 0%;
}
.workflow-elem{
  font-size: 140%;
  padding: 0% 8%;
}
.hidden-workflow-elem{
  visibility: hidden;
}

.arrow-back{
   transform: rotate(180deg);
  }

  .secondary-arrow{
   padding-top: 40px;
  }
}
.arrow-set{
  padding: 5% 0%;
}
.arrowanimate{
  opacity: 0%;
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}



.get-started {
  padding: 1% 0%;
  margin: 3% 1% 10% 1%;
  line-height: 1.5;
}

@media (min-width: 576px) and (max-width: 897px) {
  .h3-about {
      font-size: 1.6vw;
  }  
}

@media (min-width: 768px) {
  .get-started {
    margin: 5% 15%;
  }
  .header-bg-size{
    padding: 5% 2%;
    margin: 2% 1%;
  }
  .card-padding{
    padding: 0rem 1rem;
    width: 100%;
    font-size: 1.2rem;
  }  
  .load{
    padding: 3% 1%;
    margin: 0% 2%;
}
}

@media(max-width: 768px){
  .arrow-tate{
    transform: rotate(90deg);
    position: absolute;
    z-index:2;
    margin-top: 60px;
    margin-left: 7%;
  }
}

@media (min-width: 992px) {
  .get-started {
    margin: 5% 25%;
  }
  .load{
    padding: 3% 1%;
    margin: 0% 10%;
    background-color: hsla(300, 100%, 50%, .1);
}
.card-padding{
  padding: 0rem 7rem;
  width: 100%;
}  
.header-bg-size{
  padding: 5% 2%;
  margin: 2% 10%;
}
}


