.cls-1{opacity:0.4;}
.cls-2,.cls-4{fill:#00FFFF;}
.cls-2,
.cls-3{opacity:0.45;}
.cls-3,
.cls-5{fill: #00FFFF;}
.cls-4{opacity:0.3;}
.cls-5{opacity:0.5;}

.arjan-btn {
  border: hsla(180, 100%, 50%, 1) 1px solid;
  color: hsla(180, 100%, 50%, 1);
  padding: 2% 5%;
  font-size: 1.2rem;
}

.banner-container{
  padding: 6% 4%;
}

.bg-aqua{
  padding: 3%;
  margin: 5% 4%;
  background-color: hsla(180, 100%, 50%, .6);
  line-height:6.8;
}

.bg-aqua-2{
  padding: 3%;
  background-color: hsla(180, 100%, 50%, .1);
  line-height:1.8;
}
.text-box-audit{
line-height:1.4;
}

.get-started {
  padding: 1% 0%;
  margin: 3% 1% 10% 1%;
  background-color: hsla(180, 100%, 50%, .1);
  line-height: 1;
}

.logo-size{
  width: 80%;
  margin: auto;
}

/* The animation code */
@keyframes squaretop {
  0% {transform: translateY(-8%); opacity: 0;}
  25% {transform: translateY(8%); opacity: .1;}
  50% {transform: translateY(-2%); opacity: .2;}
  100% {transform: translateY(5%); opacity: .3;}
}

@keyframes squareright {
  0% {transform: translateX(-8%); opacity: 0;}
  25% {transform: translateX(8%); opacity: .1;}
  50% {transform: translateX(-2%); opacity: .2;}
  100% {transform: translateX(5%); opacity: .3;}
}

/* The element to apply the animation to */
.square-top {
  top: -8%;
  opacity: 0%;
  animation-name: squaretop;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

.square-right {
  top: -8%;
  opacity: 0%;
  animation-name: squareright;
  animation-duration: 8s;
  animation-fill-mode: forwards;
}

.checkmark{
  opacity: 0;
}

.checklist-padding{
  padding: 0% 27%;
  margin: 0% 0% 12% 0%;
}


.checkanimate{
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}
.social-icon{
  padding: 0% 3%;
}


@media (min-width: 768px){

  .get-started {
    padding: 1% 0%;
    margin: 5% 15%;
    background-color: hsla(180, 100%, 50%, .1);
    line-height: 1;
  }
  .banner-container{
    padding: 6% 16%;
  }
  .bg-aqua {
    padding: 3%;
    margin: 6% 18%;
    background-color: hsla(180, 100%, 50%, .6);
    line-height: 6.8;
}
.checklist-padding{
  padding: 0% 21%;
  margin: 0% 0% 12% 0%;
}
}

@media(min-width:992px){
  .social-row{
    position: fixed;
    right: 3%;
    bottom: 7%;
  }
  .social-icon{
    padding: 15% 0%;
  }
  .get-started {
    padding: 1% 0%;
    margin: 5% 25%;
    background-color: hsla(180, 100%, 50%, .1);
    line-height: 1;
  }
  .banner-container{
    width: 50vw;
   }
   .bg-aqua {
    padding: 3%;
    margin: 5% 25%;
    background-color: hsla(180, 100%, 50%, .6);
    line-height: 6.8;
}
.checklist-padding{
  padding: 0% 30%;
  margin: 0% 0% 12% 0%;
}
}